{% extends '../shared/_base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
    <section id="hero" class="hero section">
      <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 data-aos="fade-up" data-aos-delay="100">PRESIDENTIAL SCHOOL IN KARSHI</h2>
            <p data-aos="fade-up" data-aos-delay="200">Talented and gifted students from the Kashkadarya region</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#about" class="btn-get-started">Get Started</a>
              <a href="https://www.youtube.com/watch?v=vUenF9wa0yw" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Welcome to KPS</span></a>
            </div>

          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Partners Section -->
    <section id="clients" class="clients section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center mt-5">
            <div class="swiper-slide"><img src="{% static '/img/partners/piima.png' %}" class="img-fluid" alt="piima"></div>
            <div class="swiper-slide"><img src="{% static '/img/partners/sat.png' %}" class="img-fluid" alt="sat"></div>
            <div class="swiper-slide"><img src="{% static '/img/partners/idp.png' %}" class="img-fluid" alt="idp"></div>
            <div class="swiper-slide"><img src="{% static '/img/partners/cis.jpg' %}" class="img-fluid" alt="cis"></div>
            <div class="swiper-slide"><img src="{% static '/img/partners/edexcel.svg' %}" class="img-fluid" alt="edexcel"></div>
            <div class="swiper-slide"><img src="{% static '/img/partners/cambridge.png' %}" class="img-fluid" alt="cambridge"></div>
          </div>
        </div>
      </div>

    </section>

    <!-- About Section -->
    <section id="about" class="services section section-bg dark-background">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>About Us</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-bank icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Welcome</h4>
                <p class="description">Karshi PS is one of fourteen Presidential Schools created for the talented youngsters of Uzbekistan. The schools were established by Presidential Decree under the Cabinet of Ministers in 2019. Karshi PS opened its doors to grades Y5–10 in October 2021.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-binoculars icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Vision</h4>
                <p class="description">The vision of the school is to prepare the next generation of leaders to actively and positively contribute to the development of Uzbekistan by providing educational opportunities that encourage the nation’s gifted and talented youth to realise their potential as creative, innovative participants in a global society.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-card-checklist icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Mission</h4>
                <p class="description">The mission of the Presidential Schools (PS) is to enhance the educational experience for gifted students through a programme of academic excellence and holistic learning opportunities to develop the leadership potential of its graduates to contribute to the future of Uzbekistan.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-x-diamond icon flex-shrink-0"></i>
              <div>
                <h4 class="title">School Values</h4>
                <p class="description">The values of a Presidential School graduate identifies the attributes 
                  of a student able to successfully meet the challenges of the programme’s 
                  vision and mission. The values serve as a clear visualisation of the 
                  ultimate goals of learning and teaching.</p>
              </div>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section>

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-people"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="144" data-purecounter-duration="1" class="purecounter"></span>
              <p>Students</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-person-workspace"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter"></span>
              <p>Teachers</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-person-badge"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <p>Administration</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-person-plus"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Support Staff</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <section id="academics" class="services section section-bg dark-background">

      <div class="container section-title">
        <h2>Academics</h2>
      </div>

      <div class="container">
        <div class="row gy-4">

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-asterisk icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Admission</h4>
                <p class="description">Prospective students typically need to submit an application form along with previous academic records or report cards to demonstrate their educational background. In addition, applicants are required to take an entrance examination to evaluate their academic skills and readiness for the appropriate grade level.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-asterisk icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Graduation</h4>
                <p class="description">At the end of the academic year, grade 9 students take IGCSE Level examinations, grade 10 students take the official AS Level examinations, and grade 11 students take A Level examinations. Students receive the National Certificate of Secondary Education and GCE AS & A Level certificates in 3 subjects.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-asterisk icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Careers</h4>
                <p class="description">At KPS, our Careers Department is vibrant and dedicated to guiding students in planning their futures. We provide personalized support to help students explore career options, prepare for higher education, and develop the skills needed for success beyond school.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-asterisk icon flex-shrink-0"></i>
              <div>
                <h4 class="title">Olympiads</h4>
                <p class="description">This strong university acceptance record demonstrates our commitment to academic excellence and student development. We continue to support our students in reaching their goals, helping them transition confidently from school to college and beyond with the skills and knowledge needed to thrive.</p>
              </div>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section>

    <!-- Cocurricular Section -->
    <section id="co_curricular" class="tabs section">
      <div class="container section-title">
        <h2>Co-curricular</h2>
      </div>
      <div class="container">
        <ul class="nav nav-tabs row  d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tabs-tab-1">
              <i class="bi bi-code-slash"></i>
              <h4 class="d-none d-lg-block">Coding</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tabs-tab-2">
              <i class="bi bi-robot"></i>
              <h4 class="d-none d-lg-block">Robotics</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tabs-tab-3">
              <i class="bi bi-universal-access"></i>
              <h4 class="d-none d-lg-block">Sporting</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tabs-tab-4">
              <i class="bi bi-brush"></i>
              <h4 class="d-none d-lg-block">Art & Drama</h4>
            </a>
          </li>
        </ul><!-- End Tab Nav -->

        <div class="tab-content">

          <div class="tab-pane fade active show" id="tabs-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Coding Club</h3>
                <p>
                  The Coding club engage students in technology and innovation, encouraging 
                  problem-solving and creativity through hands-on projects and programming 
                  challenges. This club helps students' build critical skills that are essential in today’s digital world.
                </p>
                <i>What You Learn:</i>
                <ul class="mt-3">
                  <li><i class="bi bi-check2-all"></i> <span>Understand the basics of programming</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Write code in popular languages such as Python, JavaScript, or Scratch</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Build real projects like simple games, websites, and interactive apps.</span></li>
                </ul>
                <p>
                  It’s open to all students who are curious about how computers work and want to learn how to build their own programs, games, and websites. In this club, members explore the world of programming through fun projects, teamwork, and challenges. Whether you’re a beginner or an experienced coder, you’ll get the chance to improve your problem-solving skills, learn popular programming languages, and bring your ideas to life through code.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/cocurricular/coding.jpg'%}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="tabs-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Robotics Club</h3>
                <p>
                  The Robotics club engage students in technology and innovation, encouraging 
                  problem-solving and creativity through hands-on projects and programming 
                  challenges. This club helps students' build critical 
                  skills that are essential in today’s digital world.
                </p>
                <i>What You Learn</i>
                <ul class="mt-3">
                  <li><i class="bi bi-check2-all"></i> <span>Understand the basics of robotics — sensors, motors, and controllers.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Program robots to perform tasks and respond to commands.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Apply engineering and physics principles to make robots move efficiently.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Develop problem-solving and critical-thinking skills through hands-on challenges.</span></li>
                </ul>
                <p>
                  The club encourages teamwork, problem-solving, and innovation, preparing students to take part in school exhibitions, robotics competitions, and STEM events. Whether you’re a beginner or already experienced, the Robotics Club welcomes everyone who’s curious about technology and ready to build something amazing!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/cocurricular/robotics.jpg'%}" alt="robotics" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="tabs-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Sporting</h3>
                <p>
                  KPS offers a wide variety of sporting activities to encourage 
                  physical fitness and teamwork among students. Outdoor sports 
                  like volleyball, football, and basketball provide exciting 
                  opportunities for students to develop their skills, build endurance,
                   and enjoy friendly competition. These games promote sportsmanship 
                   and help students stay active and healthy.
                </p>
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Swimming is another popular sport at the school, allowing students to improve their strength, coordination, and confidence in the water. The school’s gym facilities support fitness training and overall well-being, offering students a place to work on strength, flexibility, 
                    and cardiovascular health in a safe environment.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>In addition to outdoor and fitness activities, the school also provides indoor games to engage students during leisure time or adverse weather conditions. These games encourage strategic thinking, focus, and social interaction, rounding out a comprehensive sports program that supports both physical and mental development.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/cocurricular/sporting.jpg'%}" alt="sporting" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="tabs-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Art & Drama Activities</h3>
                <p>
                  For those inclined towards the arts, the Drama, Music, and Art clubs provide creative outlets where students can express themselves and collaborate with peers. The Drama club nurtures confidence and communication through performance, while the Music club allows students to explore rhythm, melody, and teamwork.
                </p>
                <i>What You Do</i>
                <ul class="mt-3">
                  <li><i class="bi bi-check2-all"></i> <span>Develop artistic skills such as drawing, painting, and crafts.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Explore dramatic expression through role-play, acting, and improvisation.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Build self-confidence and improve public speaking through stage performances.</span></li>
                </ul>
                <p>
                  The club organizes exhibitions, performances, and special events to showcase students’ talents. It’s not just about creating art or acting — it’s about discovering who you are, working together, and celebrating creativity in all its forms.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/cocurricular/drama.jpg'%}" alt="drama" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

        </div>

      </div>

    </section><!-- /Tabs Section -->


    <section id="school_life" class="portfolio section">

      <div class="container section-title">
        <h2>School Life</h2>
      </div>

      <div class="container">
        <div class="isotope-layout">
          <div class="row gy-4 isotope-container">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Family Day 🫶🏻</p>
                  <a href="{% static 'img/life/1.jpg' %}" title="Family Day 🫶🏻" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Home Room session 😎</p>
                  <a href="{% static 'img/life/2.jpg' %}" title="Home Room session 😎" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/0.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Navruz 🔆</p>
                  <a href="{% static 'img/life/0.jpg' %}" title="Navruz 🔆" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/5.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Celebrating Teacher's Day 🎉</p>
                  <a href="{% static 'img/life/5.jpg' %}" title="Celebrating Teacher's Day 🎉" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/4.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Our Fam 🤍</p>
                  <a href="{% static 'img/life/4.jpg' %}" title="Our Fam 🤍" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="{% static 'img/life/6.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <p>Pastoral Care 🅿️</p>
                  <a href="{% static 'img/life/6.jpg' %}" title="Pastoral Care 🅿️" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Our students Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Student Body</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 10
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Contact</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>4, Mustaqillik street, Karshi city, Kashkadarya, Uzbekistan, 180100</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>prmqdd@piima.uz</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3107.6585037510363!2d65.78569997515028!3d38.84028107173631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4ea9dc765d17ab%3A0x451353c1e9f5899b!2sPrezident%20maktabi%20Qarshi!5e0!3m2!1sen!2s!4v1761078172647!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Contact Form -->
        </div>
      </div>
    </section><!-- /Contact Section -->

{% endblock content %}