<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span>Presidential School in Karshi</span>
          </a>
          <div class="footer-contact pt-3">
            <p>4, Mustaqillik street, Karshi city, </p>
            <p>Kashkadarya province,  Uzbekistan, 180100</p>
            <p class="mt-3"><strong>Email:</strong> <span>prmqdd@piima.uz</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://www.youtube.com/@pmqarshi"><i class="bi bi-youtube"></i></a>
            <a href="https://t.me/pmqarshi"><i class="bi bi-telegram"></i></a>
            <a href="https://www.instagram.com/pmqarshi_official/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=61571917701517"><i class="bi bi-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>All Rights Reserved</span></p>
    </div>
</footer>