{% load static %}
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'img/logo/logo_tr.png' %}" alt="logo">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#co_curricular">Co-curricular</a></li>
          <li><a href="#school_life">School Life</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li><a href="{% url 'events' %}">Teachers</a></li>
          <li><a href="#academics">Academics</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
</header>