{% load static %}
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'img/logo/logo_tr.png' %}" alt="logo">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li class="dropdown">
            <a href="#"><span>Academics</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Introduction</a></li>
              <li><a href="#">Admission</a></li>
              <li><a href="#">Graduation</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#"><span>Co-curricular</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Introduction</a></li>
              <li><a href="#">Clubs</a></li>
              <li><a href="#">Sporting</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#"><span>School Life</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Boarding Life</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li class="dropdown">
            <a href="#"><span>Downloads</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Newsletters</a></li>
              <li><a href="#">Timetable</a></li>
              <li><a href="#">School Calendar</a></li>
              <li><a href="#">Student handbook</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
</header>